.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
