.container {
  width: 100%;
}

.titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
}

.title {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
}

.subtitles {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
}

@media screen and (min-width: 375px) {
  .container {
    width: 303px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 438px;
  }

  .title {
    width: 347px;
    font-size: 28px;
    line-height: 1.14;
  }

  .subtitle {
    font-size: 18px;
    line-height: 1.33;
  }
}
