.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 13px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
  border: 1.5px solid var(--color-darkblue);
  background-color: transparent;
  transition: background-color var(--animation), color var(--animation),
    border-color var(--animation);
}

.button:hover {
  background-color: transparent;
  color: var(--color-lightgreenhover);
  border-color: var(--color-lightgreenhover);
}

.icon {
  font-size: 24px;
}

.linkGoogle {
  display: none;
}

@media (min-width: 768px) {
  .button {
    padding: 18px;
    font-size: 16px;
    line-height: 24px;
  }
}
